/* Stylesheet */

body {  
  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  font-family: 'BespokeSerif-Regular';
  font-size: 5vmin;
  text-align: center;
  
  /* Add contrast to text */
  background-color: rgba(255, 255, 255, 0.25);
}

blockquote {
  color: white;
}

.prev {
  width: 50px;
  height: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.random {
  width: 50px;
  height: 50px;
  padding-bottom: 20px;
}

.next {
  width: 50px;
  height: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
}